body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

#app {
    max-width: 600px;
    margin: 0 auto;
}

#resultados img {
    max-width: 100px;
    margin: 10px;
}
