body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e); /* Fondo degradado */
}

#app {
    max-width: 700px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centra el contenido dentro del contenedor */
}

h1 {
    color: #fff;  /* Color blanco para el título */
}

.filter {
    margin: 15px 0;
}

button {
    background-color: #573b8a;  /* Fondo de botón morado */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 60%;  /* Ancho del botón centrado */
    transition: 0.2s ease-in-out;
    margin-top: 20px; /* Espaciado desde arriba */
}

button:hover {
    background-color: #6d44b8;  /* Color de fondo al pasar el mouse */
}

#resultados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

#resultados img {
    max-width: 150px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
